<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>图片上传</title>
</head>
<body>
    {% if filename %}
        <img src="{{ url_for('static', filename = filename) }}" alt="{{ filename }}">
    {% else %}
    <form action="/upload" method="post" enctype="multipart/form-data">
        <legend>请选择要上传的图片：</legend>
        <input type="file" name="picter" id="picter"><br>
        <button type="submit">点击上传</button>
    </form>
    {% endif %}
</body>
</html>